<<<<<<< HEAD
/* Import the base theme */
@use '../_base/theme';
=======
* {
    scrollbar-width: thin;
    scrollbar-color: #3b3b3b #202020;
}

.skinHeader,
html {
    color: #ddd;
    color: rgba(255, 255, 255, 0.8);
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #101010;
}

.emby-collapsible-button {
    border-color: #383838;
    border-color: rgba(255, 255, 255, 0.135);
}

.skinHeader-withBackground {
    background-color: #202020;
}

.skinHeader.semiTransparent {
    backdrop-filter: none !important;
    background-color: rgba(0, 0, 0, 0.4);
}

.layout-tv .skinHeader.semiTransparent {
    background: none;
}

.pageTitleWithDefaultLogo {
    background-image: url("../../assets/img/logo.png");
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(@jellyfin/ux-web/icon-transparent.png);
}

.backgroundContainer,
.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu,
html {
    background-color: #101010;
}

.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, 0.86);
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #00a4dc;
        background-color: rgba(0, 164, 220, 0.2);
    }
}

.paper-icon-button-light:active:not(:disabled) {
    color: #00a4dc;
    background-color: rgba(0, 164, 220, 0.2);
}

.paper-icon-button-light.show-focus:focus {
    color: #00a4dc;
}

.fab,
.raised {
    background: #303030;
    color: rgba(255, 255, 255, 0.87);
}

.fab:focus,
.raised:focus {
    background: #383838;
}

.button-submit {
    background: #00a4dc;
    color: #fff;
}

.button-submit:focus {
    background: #0cb0e8;
    color: #fff;
}

.button-delete {
    background: #cb272a;
    color: #fff;
}

.checkboxLabel {
    color: inherit;
}

.checkboxListLabel,
.inputLabel,
.inputLabelUnfocused,
.paperListLabel,
.textareaLabelUnfocused {
    color: #bbb;
    color: rgba(255, 255, 255, 0.7);
}

.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #00a4dc;
}

.checkboxOutline {
    border-color: currentColor;
}

.collapseContent,
.formDialogFooter:not(.formDialogFooter-clear),
.formDialogHeader:not(.formDialogHeader-clear),
.paperList,
.visualCardBox {
    background-color: #202020;
}

.layout-tv .formDialogFooter:not(.formDialogFooter-clear) {
    background-color: transparent;
}
>>>>>>> 0e4cadf636 (logo)

/* Card background color variants */
.defaultCardBackground1 {
    background-color: #00455c;
}

.defaultCardBackground2 {
    background-color: #44bae1;
}

.defaultCardBackground3 {
    background-color: #00a4db;
}

.defaultCardBackground4 {
    background-color: #1c4c5c;
}

.defaultCardBackground5 {
    background-color: #007ea8;
}

/* Detail ribbon on item details pages */
.detailRibbon {
    background: rgba(32, 32, 32, 0.8);
    background: rgba(var(--jf-palette-background-paperChannel) / 0.8);

    .layout-tv & {
        background: none;
    }
}
