<<<<<<< HEAD
@use '../../styles/mixins' as *;
@use '../_base/palette' as palette;

/* Import the base theme with overrides */
@use '../_base/theme' with (
    // Theme options
    $dark: false,

    // Color palette
    $background-default: #f2f2f2,
    $background-paper: #e8e8e8,
    $text-primary: #000,
    $text-secondary: rgba(0, 0, 0, 0.87),
    $action-focus: #bbb,
    $action-hover: #ddd,
    $divider: rgba(0, 0, 0, 0.14),

    // Components
    $appBar-defaultBg: #e8e8e8,
    $appBar-transparentBg: rgba(232, 232, 232, 0.86),
    $alert-infoFilledBg: #fff3a5,
    $alert-infoFilledColor: #000,
    $button-inheritContainedBg: #d8d8d8,
    $button-inheritContainedHoverBg: #ccc
);

// Override the alpha picker selected colors
.alphaPickerButton-selected {
    @include var(background-color, --jf-palette-primary-main, palette.$primary-main);
    @include var(color, --jf-palette-primary-contrastText, palette.$primary-contrastText);
=======
* {
    scrollbar-width: thin;
}

.skinHeader,
html {
    color: #222;
    color: rgba(0, 0, 0, 0.87);
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #303030;
}

.emby-collapsible-button {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.158);
}

.collapseContent {
    background-color: #eaeaea;
}

.skinHeader-withBackground {
    background-color: #303030;
    color: #ccc;
    color: rgba(255, 255, 255, 0.87);
}

.osdHeader {
    box-shadow: none !important;
}

.skinHeader.semiTransparent {
    backdrop-filter: none !important;
    background-color: rgba(0, 0, 0, 0.4);
}

.layout-tv .skinHeader.semiTransparent {
    background: none;
    color: inherit;
}

.pageTitleWithDefaultLogo {
    background-image: url("../../assets/img/logo.png");
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(@jellyfin/ux-web/icon-transparent.png);
}

.backgroundContainer,
html {
    background-color: #f2f2f2;
}

.backgroundContainer.withBackdrop {
    background-color: rgba(255, 255, 255, 0.8);
}

.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu {
    background-color: #f0f0f0;
}

.emby-scrollbuttons .paper-icon-button-light {
    color: #000;
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #00a4dc;
        background-color: rgba(0, 164, 220, 0.2);
    }
}

.paper-icon-button-light:active:not(:disabled) {
    color: #00a4dc;
    background-color: rgba(0, 164, 220, 0.2);
}

.paper-icon-button-light.show-focus:focus {
    color: #00a4dc;
}

.fab,
.raised {
    background: #d8d8d8;
    color: inherit;
}

.fab:focus,
.raised:focus {
    background: #ccc;
}

a[data-role=button] {
    background: #d8d8d8 !important;
}

.button-submit {
    background: #00a4dc;
    color: #fff;
}

.button-submit:focus {
    background: #0cb0e8;
}

.button-delete {
    background: rgb(247, 0, 0);
    color: rgba(255, 255, 255, 0.87);
}

.checkboxLabel {
    color: inherit;
}

.checkboxListLabel,
.inputLabel,
.inputLabelUnfocused,
.paperListLabel,
.textareaLabelUnfocused {
    color: #555;
}

.button-link,
.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #00a4dc;
}

.checkboxOutline {
    border-color: currentColor;
}

.paperList,
.visualCardBox {
    background-color: #fff;
>>>>>>> 0e4cadf636 (logo)
}

/* Card background color variants */
.defaultCardBackground1 {
    background-color: #009688;
}

.defaultCardBackground2 {
    background-color: #d32f2f;
}

.defaultCardBackground3 {
    background-color: #0288d1;
}

.defaultCardBackground4 {
    background-color: #388e3c;
}

.defaultCardBackground5 {
    background-color: #f57f17;
}

/* Detail ribbon on item details pages */
.detailRibbon {
    background-color: #303030;
    color: #ccc;
    color: rgba(255, 255, 255, 0.87);

    .layout-tv & {
        background: none;
        color: inherit;
    }
}

/* Live TV guide */
.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: rgba(0, 0, 0, 0.12);
}

.programCell-active {
    background: rgba(0, 0, 0, 0.1) !important;
}
